In [19]:




import pandas as pd
from dateutil.parser import parse
import datetime 


def transferToNum(cell):
        try:
#             print(int(cell.replace(',','')))
            return int(cell.replace(',',''))
        except:
            return None

def updateCell(cell):
        try:
                dateee = parse(cell)
                return dateee.strftime("%Y-%m-%d")
#                 return dateee
#                 return dateee
        except: 
                return None

stockData = pd.read_csv('stock.csv',delimiter=',', header=None,skiprows=[0],skip_blank_lines=True,
                            names = 
                                    ['类型','股票代号','股票名称',
                                     '购买价格','数量','状态',
                                     '成交数量','日期','交易类型','交易状态','是否竞价'],
                        converters={
                            '日期': updateCell,
                            '数量': transferToNum,
                        }
                       
                       )

# stockData[stockData['数量']]
# stockData.loc[stockData['数量'] == '0']
# df[df['A'] == 'foo'] # 判断等式是否成立

stockData = stockData[['类型','股票代号','股票名称', '购买价格','数量','状态','成交数量','日期']][(stockData['成交数量'] != '0') & (stockData['成交数量'])]
# ['类型']stockData['数量']
# print(stockData)
# for i in stockData:
#     print(stockData[i])
stockData
# stockData.to_csv(index=False)
# compression_opts = dict(method='zip',
#                         archive_name='out.csv')  
# stockData.to_csv('out.zip', index=False,
#           compression=compression_opts)

     类型      股票代号    股票名称   购买价格      数量    状态   成交数量          日期
4    买入  01810.HK  小米集团-W  22.60  2000.0  全部成交  2,000  2021-03-08
6    买入  01810.HK  小米集团-W  22.80  3400.0  全部成交  3,400  2021-03-08
7    卖出  01810.HK  小米集团-W  23.10  3200.0  全部成交  3,200  2021-03-08
9    买入  01810.HK  小米集团-W  23.00  3200.0  全部成交  3,200  2021-03-08
12   卖出  01810.HK  小米集团-W  23.80   400.0  全部成交    400  2021-03-08
..   ..       ...     ...    ...     ...   ...    ...         ...
181  买入  01810.HK  小米集团-W  18.00   800.0  全部成交    800  2020-08-25
182  买入  01810.HK  小米集团-W  18.24   400.0  全部成交    400  2020-08-25
183  买入  01810.HK  小米集团-W  18.04   600.0  全部成交    600  2020-08-21
184  买入  01810.HK  小米集团-W  18.14  1000.0  全部成交  1,000  2020-08-19
185  买入  01810.HK  小米集团-W  16.48   600.0  全部成交    600  2020-08-17

[115 rows x 8 columns]

In [217]:
stockData.columns

Index(['类型', '股票代号', '股票名称', '购买价格', '数量', '状态', '成交数量', '日期'], dtype='object')

In [7]:
stockData.head(10)

a = stockData.groupby('类型')

a = a.sum()

a = a.sort_values(['数量'], ascending=False)

a

# list(a)

       购买价格       数量
类型
买入  1673.03  88000.0
卖出  1249.65  80400.0

In [73]:




import pandas as pd
from dateutil.parser import parse
import datetime 

def transferWrongSpell(cell):
        if cell == 'carpooll':
            return 'carpool'
        return cell

def transferNullColumn(cell):
    if cell:
        if cell == '默认':
                return '老公'
        return cell
    else :
        return '老公'

def nullNullColumn(cell):
#     print(cell)
    if cell:
        return cell
    return ''
#     if cell = 'NaN'
#         return None

def transferToNum(cell):
        try:
#             print(int(cell.replace(',','')))
            return int(cell.replace(',',''))
        except:
            return None

def updateCell(cell):
        try:
                dateee = parse(cell)
                return dateee.strftime("%Y-%m-%d %H:%M")
#                 return dateee
#                 return dateee
        except: 
                return None

print('嗷嗷叫')

stockData = pd.read_csv('money20210422.csv',delimiter=',', header=0,skiprows=[0],skip_blank_lines=True,
                            names = 
                                    ['交易类型','日期','类别','子类别','项目','账户','账户币种','金额','成员','商家','备注','关联Id'],
                        converters={
                            '日期': updateCell,
                            '数量': transferToNum,
                            '备注': nullNullColumn,
                            '成员': transferNullColumn,
                            '子类别': transferWrongSpell,
                            '项目':nullNullColumn,
                            '关联Id':nullNullColumn,
                            '商家':nullNullColumn,
                        }
                       
                       )


stockData = stockData[['交易类型','日期','类别','子类别','项目','账户','账户币种','金额','成员','商家','备注','关联Id']]

stockData



def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print('error when connection db', e)

    return conn



import sqlite3
from sqlite3 import Error

import uuid


def insertIntoMoneyTable(conn, lunchArray):    
    sql = ''' INSERT INTO money(id,note_name,transaction_type,t_date,type,sub_type,project,account,currency,amount,member,merchant,note,related_id)
                      VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?) '''
    cur = conn.cursor()

    uid = uuid.uuid4()
    
    lunchArray.insert(0,'两个人')
    
    lunchArray.insert(0,str(uid))
    
    print(lunchArray)
    cur.execute(sql,lunchArray)
    conn.commit()
    return cur.lastrowid

#将上面的 db 导入到 数据库

database = r"/Users/Helen/Library/Mobile Documents/com~apple~CloudDocs/Wang/Develop/db/text.sqlite"

conn = create_connection(database)

i = 0

# print(len(stockData))
# print(stockData['日期'][2])

# stockData['成员'].apply(lambda x: x + )

with conn:
    while i < len(stockData):
#         print(stockData.loc[i].values.tolist())
#         if(i < 2):
        try:
            insertIntoMoneyTable(conn, stockData.loc[i].values.tolist())
        
#         insertIntoDb(conn, dailyMenuArray[i])
        i = i + 1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 124)